# Project exclude paths
/.gradle/
/cloud/eureka/build/
/cloud/eureka/build/classes/java/main/
/cloud/gateway/build/
/cloud/gateway/build/classes/java/main/
/cloud/hystrix-dashboard/build/
/cloud/hystrix-dashboard/build/classes/java/main/
/service/consumer01/build/
/service/consumer01/build/classes/java/main/
/service/provider01/build/
/service/provider01/build/classes/java/main/